<h3 class="downlighted">ALL CONTACTS</h3>
<p>
This should look be on a tomato background
</p>
<ul>
<% $rolodex.contacts.each do |contact| %>
<li><%= contact.first_name %> <%= contact.last_name %> <%=contact.email %></li>
<% end %>
</ul>