<html>
<head>
<title>Contact Page</title>
</head>
<body>
<h3>ALL CONTACTS</h3>

<ul>
<% @contacts.each do |contact| %>
<li><a href= "/contacts/<%= contact.id %>">First Name: <%= contact.first_name %></a></li> 
<li>Last Name: <%= contact.last_name %></li>
<li>Email: <%=contact.email %></li>
<% end %>
</ul>

</body>
</html>