<html>
<head>
<title>CRM Main Page</title>
</head>
<body>
<header>
<h2>Main Menu for Bitmaker Labs Customer Support</h2>
</header>
<h3>MAIN MENU</h3>
<p>This site is an experiment. Examining block and in-line elements.</p>

</body>
</html>
