<html>
<head>
<title>CRM Main Page</title>
</head>
<body>
<header>
<h2 class="downlighted">The First Page of CRM Adventure</h2>
</header>
<h3 class="mainlight">MAIN MENU</h3>
<p id="rider">This site is an experiment. Examining block and in-line elements.</p>
<!-- <ul>
<li><a href="/contacts">View all contacts</a></li>
<li><a href="/contacts/new">add contact</a></li>
</ul> -->
</body
</html>
