<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>CRM Web Assignment</title>
</head>
<body>

	<header>
		<h2 id="Header">Bitmaker Labs Customer Relationship Management</h2>
	</header>

		<h1 id="greeting">Welcome to <%= $crm_app_name %>!</h1>
		<div class="yield">
				<%= yield %> 
		</div>
		<div class="font">
				<nav>
				<ul id="navigation">
					</li><li><a href="/">Home</a></li>
					<li><a href="/contacts">View all contacts</a></li><li>
					<a href="/contacts/new">Add contact</a>
				</ul>
				</nav>
		</div>

	<footer>
			&copy Bitmaker Labs 2014
	</footer>
</body>
</html>
