<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<meta charset="UTF-8">
	<title>CRM Web Assignment</title>
</head>
<body>

	<header>
		<h2>Everything you need to know about HTML &amp; CSS</h2>
	</header>

		<h1>Welcome to <%= $crm_app_name %></h1>

				<%= yield %> 
				

		<nav>
		<ul>
		<li><a href="/contacts">View all contacts</a></li>
		<li><a href="/contacts/new">add contact</a></li>
		<li><a href="/">Home</a></li>
		</ul>
		</nav>

	<footer>
			Bitmaker Labs 2014
	</footer>
</body>
</html>
