<html>
<head>
<title>New Contacts</title>
</head>
<body>
<h3 class="sub_menu">CREATE NEW CONTACT</h3>

<p id="contacts">
Please add your information to our list of clients. In order to better serve you, please ensure the information you give is accurate.
</p>

<form action="/contacts" method="post">
<input type="text" name="first_name">
<input type="text" name="last_name">
<input type="text" name="email">
<input type="text" name="note">
<input type="submit" name="Hit the jump!">
</form>
</body>
</html>
