		.highlighted {
			color: blue;
		}

		.downlighted {
			color: magenta;
		}
		
		.mainlight {
			color: purple;
		}

		nav {
			color: red;
			color: orange;
		}

		p {
			background-color: tomato;
		}


